# T-TEST: One-sample T-test with Python

The test will tell us whether means of the sample and the population are different

In [1]:
import numpy as np
import pandas as pd
import scipy.stats as stats
import math

In [2]:
np.random.seed(6)
sam1Ages = stats.poisson.rvs(loc=18,mu=35,size=1500)
sam2Ages = stats.poisson.rvs(loc=18,mu=30,size=60)
sam1Ages.mean()

53.303333333333335

In [3]:
sam2Ages.mean()

46.9

In [5]:
ttest,p_value = stats.ttest_1samp(sam1Ages,sam2Ages.mean())

In [6]:
p_value

3.991139667674705e-245

In [7]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

# Two-sample T-test With Python

The Independent Samples t Test or 2-sample t-test compares the means of two independent groups in order to determine whether there is statistical evidence that the associated population means are significantly different. The Independent Samples t Test is a parametric test. This test is also known as: Independent t Test

In [8]:
np.random.seed(12)
sam3Ages = stats.poisson.rvs(loc=18,mu=33,size=60)
sam3Ages.mean()

50.63333333333333

In [9]:
ttest,p_value = stats.ttest_ind(sam2Ages,sam3Ages,equal_var=False)
p_value

0.00039942095100859375

In [10]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

 we are rejecting null hypothesis

# Paired T-test With Python

When you want to check how different samples from the same group are, you can go for a paired T-test

In [11]:
weight1=[25,30,28,35,28,34,26,29,30,26,28,32,31,30,45]
weight2=weight1+stats.norm.rvs(scale=5,loc=-1.25,size=15)

In [12]:
weight2

array([30.57926457, 34.91022437, 29.00444617, 30.54295091, 19.86201983,
       37.57873174, 18.3299827 , 21.3771395 , 36.36420881, 32.05941216,
       26.93827982, 29.519014  , 26.42851213, 30.50667769, 41.32984284])

In [14]:
df = pd.DataFrame({"Weight1":np.array(weight1),
                  "Weight2":np.array(weight2),
                  "Difference":np.array(weight2)-np.array(weight1)})
df

    Weight1    Weight2  Difference
0        25  30.579265    5.579265
1        30  34.910224    4.910224
2        28  29.004446    1.004446
3        35  30.542951   -4.457049
4        28  19.862020   -8.137980
5        34  37.578732    3.578732
6        26  18.329983   -7.670017
7        29  21.377139   -7.622861
8        30  36.364209    6.364209
9        26  32.059412    6.059412
10       28  26.938280   -1.061720
11       32  29.519014   -2.480986
12       31  26.428512   -4.571488
13       30  30.506678    0.506678
14       45  41.329843   -3.670157

In [15]:
_,p_value = stats.ttest_rel(weight1,weight2)
p_value

0.5732936534411279

In [16]:
if p_value < 0.05:    # alpha value is 0.05 or 5%
    print(" we are rejecting null hypothesis")
else:
    print("we are accepting null hypothesis")

we are accepting null hypothesis